/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: var(--content-width);
  background-color: #fff;
  border: 2px solid #000;
  margin-top: 100px;
  margin-bottom: 48px;
  padding: clamp(7.625rem, 0.751vw + 7.449rem, 8.125rem) clamp(1rem, 9.953vw - 1.333rem, 7.625rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.header__title {
  font-family: var(--font-family);
  font-size: clamp(3.063rem, 4.923vw + 1.909rem, 4.063rem);
  text-transform: uppercase;
  color: #000;
}

.header__subtitle {
  font-family: var(--font-family);
  font-size: clamp(0.875rem, 2.769vw + 0.226rem, 1.438rem);
  text-transform: uppercase;
  color: #000;
}

.section__card {
  width: var(--content-width);
  background-color: #fff;
  border: 2px solid #000;
  margin-top: 50px;
}

.card-header {
  padding: 4px 10px;
}

.card-header h2 {
  font-size: 18px;
}

.card-content {
  position: relative;
}

.card-img {
  object-fit: contain;
  width: 100%;
  object-position: center;
}

.filter-blur {
  filter: blur(5px)
}

.filter-sepia {
  filter: sepia(0.6);
}

.filter-contrast {
  filter: contrast(250%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter-invert {
  filter: invert(100%);
}

.filter-saturate {
  filter: saturate(390%) opacity(0.3);;
}

.label-text {
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--font-family);
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  text-shadow: 1px 1px #fff,
              -1px -1px #fff,
              -1px 1px #fff,
              1px -1px #fff;
  position: absolute;
  top: 25px;
  right: 25px;
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .label-text {
    text-shadow: none;
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
  }
}

.card-text {
  font-size: 18px;
  line-height: 117%;
  color: #000;
  padding: 21px 25px 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 7px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.card__button {
  width: 130px;
  height: 38px;
}

.card__icon-button {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 39px;
  height: 35px;
  transition: outline 0.3s ease;
}

.button {
  cursor: pointer;
  border: 2px solid #000;
  padding: 9px 17px;
  background: #fff;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  background-color: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: none;
}

.button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.section__button-save {
  width: var(--content-width);
  padding: 50px;
  display: flex;
  justify-content: center;
}

.button-save {
  height: 55px;
  padding: 15px 20px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.button svg {
  fill: #fff;
  mix-blend-mode: difference;
}

.button__text {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 90%;
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 39px;
}

.dialog-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 30px;
}

.dialog-content h2 {
  width: clamp(12.25rem, 3.568vw + 11.414rem, 14.625rem);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
}

.dialog__button {
  width: 100%;
  text-transform: uppercase;
}

.dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.like-icon {
  cursor: pointer;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: var(--contour);
}

.like-icon:hover .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--contour);
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-fill-color);  
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: zoom 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks_show 0.3s 0.3s ease-in;
}

@media (width <= 375px) {

  .dialog[open] {
    padding: 30px 39px;
  }
    
  .button-save {
    flex-direction: column;
    height: 84px;
    min-width: 306px;
    padding: 9px 18px;
  }

  .button-save svg {
    width: 28px;
    height: 28px;
  }
}
